.header{
    font-family: var(--text-font);
    padding: 36px 30px 36px 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 99;
}

.HeaderLogo{
    width: 8rem;
    margin-left: 80px;
}

.headerTabsContainer{
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.icons-header{
    position: relative;
    top: 3px;
}

.headerTab{
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
    color: var(--white-grey);
    border-radius: 12px;
    padding: 10px;
    background-color: var(--shade-black);

}

.headerTab-myrst{
    text-decoration: none;
    background-color: var(--primary);
    cursor: pointer;
    margin: 0px 24px;
    border-radius: 12px;
    padding: 10px;
    color: var(--white);
}

.headerTabsContainer :hover{
    color: rgb(255, 158, 158);
}

.headerTabsContainer :active{
    color: rgb(255, 0, 0);
}

.headerTabsContainer :hover{
    color: rgb(255, 158, 158);
}

.headerTabsContainer :active{
    color: rgb(255, 0, 0);
}

.headerTabActive{
    transition: var(--transition);
    text-decoration: underline;
    margin: 0px 24px;
    font-size: 18px;
    font-weight: 700;
}

.headerTabActive-myrst{
    transition: var(--transition);
    text-decoration: underline;
    margin: 0px 24px;
    font-size: 18px;
    font-weight: 700;
}