@import url("./styles/variables.css");

.app{
    background-image: url(./assets/img/bg/bg.png);
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}